.block{
	background-color: rgb(151, 185, 247);
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 15px;
}

.blockTitle{
	width: 100%;
	margin: 0%;
	font-weight: bold;
}

.blockContent{
	width: 100%;
	margin-top: 15px;
}

.list{
	width: 100%;
	height: 85%;
	padding: 15px;
	overflow-y: scroll;
}

.loading{
	width: 100%;
	text-align: center;
}